<div [class]="themeClass">
  <mat-toolbar fxLayout="row" color="primary" style="background-color: #002c85;"class="mat-elevation-z4">  
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
        <img src="../assets/topbar_logo.png" width="50px" height="50px" alt="XRP Ledger Services Logo">
        <label style="font-weight: bold;">{{title}}</label>  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="mat-card-red" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.5em">
    <label>Sorry that this error happened! Please copy the following error and send it to @XrplServices on twitter or via mail to: info@xrpl.services . Thanks for your help!</label>
    <label>&nbsp;</label>
    <label class="break-words" (click)="copyError()">{{errorLabel}}</label>
    <button mat-button class="xumm-grey-background" aria-label="Copy Error" (click)="copyError()">
      Copy&nbsp;<mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
    </button>
  </mat-card>

  <mat-card class="mat-card-orange floatcenter" *ngIf="loadingData && !xrplAccountInfo" fxLayout="row" fxLayoutGap="0.5em" style="margin: 0.5em">
    <label>Loading your TrustLines...</label>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
  </mat-card>

  <mat-card class="mat-card-red" *ngIf="!loadingData && (!xrplAccountInfo || !xrplAccountInfo.Account)" fxLayout="column" fxLayoutGap="0.5em">
    <label>You opened the xApp with an account you don't have full access to. (Read only)</label>
    <label>&nbsp;</label>
    <label>Please close this xApp, navigate to the home screen and switch to the account you want to remove tokens from. (Needs to have 'Full Access') Then open the xApp again.</label>
  </mat-card>

  <!--label *ngIf="infoLabel" style="color: red">{{infoLabel}}</label><br><br>
  <label *ngIf="infoLabel2" style="color: red">{{infoLabel2}}</label>
  <label *ngIf="infoLabel3" style="color: red">{{infoLabel3}}</label-->

  <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper class="theme-background" *ngIf="xrplAccountInfo && xrplAccountInfo.Account">
    <mat-step completed="false" editable="false">

        <mat-card class="stepcontainer" fxLayout="column" fxLayoutGap="0.5em" style="margin-left: 0.5em; margin-right: 0.5em;">

          <mat-card fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.5em">
            <div fxLayout="row" style="width: 100%">
              <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center" style="width: 80%">
                <mat-checkbox [(ngModel)]="checkBoxSkipDialogs" [ngClass]="(checkBoxSkipDialogs ? 'xumm-green': 'xumm-orange')" [disabled]="!isXummProUser">Skip Dialogs</mat-checkbox>
                <img src="../assets/pro-badge.png" width ="50px" height="21px" alt="XUMM Pro">
              </div>
              <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="end center"  style="width: 20%">
                <i class="material-icons" style="cursor: pointer;" (click)="skipConvertion = !skipConvertion">info</i>
              </div>
            </div>
            <div *ngIf="!isXummProUser" style="font-weight: bold; font-size: 0.8em;">
              <a href="https://xumm.app/detect/xapp:xumm.pro-beta?application_id=282206ef-7b2b-473a-85ba-4f1fc6b17266">( XUMM Pro required! Click here ... )</a>
            </div>
            <mat-card class="mat-card-orange" fxLayout="column" *ngIf="skipConvertion">
              <label>Skips all dialogs and presents only XUMM sign requests.</label>
              <label>Please double check ALL sign requests!</label>
            </mat-card>
          </mat-card>

          <h2>Select a Token to get rid of:</h2>
            <div *ngIf="simpleTrustlines" fxLayout="column" fxLayoutGap="0.3em">

              <mat-card fxLayout="row" style="padding-top: 1em;" fxLayoutAlign="start center" fxLayoutGap="1em">
                <label><b>Filter:</b></label>
                <mat-form-field>
                  <mat-label class="loading">
                    <i class="material-icons">
                      search
                    </i>
                  </mat-label>
                  <input matInput [disabled]="loading" [(ngModel)]="searchString" (keyup)="applyFilter()" placeholder="Search for Token ...">
                </mat-form-field>
              </mat-card>
              
              <div>
                <div class="listarea" *ngIf="simpleTrustlines.length > 0">
                  <ul class="list" fxLayout="column" fxLayoutGap="1em">
                    <li *ngFor="let trustline of simpleTrustlines" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
                      <div style="font-size: medium; width: 100%;" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                          <div>
                            <label><b><code>{{trustline.currencyShow}}:</code></b></label>
                          </div>
                          <span style="flex: 1 1 auto;"></span>
                          <div *ngIf="trustline.isFrozen" fxLayout="row" fxLayoutAlign="start center">
                            <i class="material-icons xumm-red" style="font-size: 1em;">
                              severe_cold
                            </i>
                            <label><b><code>(FROZEN!)</code></b></label>
                          </div>
                          
                        </div>
                        
                        <label><b><code>{{trustline.balanceShow}}</code></b></label>
                      </div>
                      <span style="flex: 1 1 auto;"></span>
                      <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button class="thin" color="primary" (click)="selectToken(trustline)" [disabled]="applyFilters || loadingData">Remove</button>
                      </div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="simpleTrustlines.length <= 0">
                  <mat-card class="mat-card-orange floatcenter">
                    <label>No Tokens found</label>
                  </mat-card>
                </div>
              </div>
            </div>
        </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card *ngIf="(!issuerHasGlobalFreezeSet || (issuerHasGlobalFreezeSet && selectedToken && selectedToken.balance == 0)) && (selectedToken && !selectedToken.isFrozen)" class="stepcontainer" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start center" style="margin-left: 0.5em; margin-right: 0.5em;">

        <mat-card class="mat-card-blue" fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
          <label><b>You have {{selectedToken && selectedToken.balanceShow}} {{selectedToken && selectedToken.currencyShow}} left!</b></label>
        </mat-card>

        <div *ngIf="selectedToken && selectedToken.balance > 0 && canConvert && !convertionStarted && !skipConvertion && !burnOnly && !loadingData" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center" style="width: 100%;">
          <mat-card class="mat-card-green floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
            <div *ngIf="convertAmountXRP" class="floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
              <label>You can convert some (or all) of your {{selectedToken && selectedToken.currencyShow}} into roughly {{convertAmountXRP}} XRP.</label>
              <label>This amount is subject to change and can not be guaranteed because order books are a moving target.</label>
              <mat-card class="mat-card-orange" *ngIf="paymentAmount > 0 && !paymentSuccessful" fxLayout="column" fxLayoutGap="0.3em">
                <label>To use the DEX conversion service, you have to pay ~ 5% of the conversion amount, but a maximum of {{maxPaymentAmount}} XRP.</label>
                <label>The amount you have to pay is: {{paymentAmount}} XRP</label>
                <button mat-raised-button class="btn" style="width:100%" color="primary" (click)="payForDexService()">Pay {{paymentAmount}} XRP</button>  
              </mat-card>
              <mat-card class="mat-card-orange" *ngIf="paymentAmount == 0 && !paymentSuccessful" fxLayout="column" fxLayoutGap="0.3em" style="width: 100%;">
                <label>Swapping this token is free of charge.</label>
              </mat-card>
            </div>
            <div *ngIf="!convertAmountXRP" class="floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
              <label>You can convert some (or all) of your {{selectedToken && selectedToken.currencyShow}} to XRP.</label>
              <label>The XRP Ledger will try to convert as much of your Token into XRP as possible.</label>
            </div>

            <div *ngIf="!convertAmountXRP || paymentAmount <= 0 || (paymentAmount > 0 && paymentStarted && paymentSuccessful)" class="floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
              <label>&nbsp;</label>
              <label>We will set a very low XRP value in the Offer (1 Drop or 0.000001 XRP).</label>
              <label>But don't worry, the XRP Ledger will always give you the best possible rate.</label>
              <button mat-raised-button class="btn" style="width:100%" color="primary" (click)="convertTokenIntoXrp()">Convert to XRP</button>  
            </div>
          </mat-card>
          <mat-card class="floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
            <label>You can also choose to NOT convert your token to XRP.</label>
            <label>This will BURN all your token (sending to issuer account) and does NOT swap them for XRP.</label>
            <label>Please confirm the checkbox and click the button below if you wish to BURN your token instead of SWAPPING them.</label>
            <mat-card class="mat-card-red" fxLayout="column" fxLayoutGap="0.3em">
              <div>
                <mat-checkbox [(ngModel)]="checkBoxBurnToken" [ngClass]="(checkBoxBurnToken ? 'xumm-green': 'xumm-red')" [disabled]="loadingData"><b>I understand that burning the token will NOT give me any XRP in exchange! I still want to proceed!</b></mat-checkbox>
              </div>
              <button mat-raised-button class="btn" style="width:100%" color="primary" [disabled]="!checkBoxBurnToken" (click)="skipSwap()">No Convertion. BURN THEM ALL!</button>
            </mat-card>
          </mat-card>
        </div>

        <div *ngIf="selectedToken && canConvert && convertionStarted && !loadingData" style="width: 100%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5em">

          <mat-card class="mat-card-green floatcenter" *ngIf="canConvert && convertionStarted && gainedFromConverting > 0" fxLayout="column" fxLayoutGap="0.5em" style="width: 100%;">
            <label>You have successfully exchanged {{selectedToken && selectedToken.balance === 0 ? 'all' : 'some'}} of your token for {{gainedFromConverting}} XRP.</label>
            <div *ngIf="selectedToken && selectedToken.balance > 0">
              <label>The left over tokens can not be exchanged and we will send them back to the issuer to get rid of them!</label>
              <label>After that, we can remove the trustline!</label>
            </div>
          </mat-card>
        </div>

        <div *ngIf="selectedToken && selectedToken.balance > 0 && (!canConvert || skipConvertion || burnOnly || (canConvert && convertionStarted && gainedFromConverting === 0)) && !loadingData" style="width: 100%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5em">
          <mat-card class="mat-card-orange floatcenter" fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
            <label *ngIf="!skipConvertion && !burnOnly">Unfortunately, this token can not be converted to XRP or the swap amount is smaller than the transaction costs.</label>
            <label *ngIf="burnOnly">This xApp helps you remove rugged tokens by burning them!</label>
            <label>We have to send it back to the issuer to get rid of it!</label>
            <label>This will BURN the token. It won't give you any money back!</label>
            <label>After that, we can remove the trustline!</label>
          </mat-card>
        </div>

        <div *ngIf="selectedToken && selectedToken.balance > 0 && (!canConvert || skipConvertion || burnOnly || (canConvert && convertionStarted)) && !loadingData" fxLayout="column" fxLayoutGap="1em" style="width: 100%;">
          <mat-card class="mat-card-red" *ngIf="issuerRequiresDestinationTag || xrplclusterRequiresDestinationTag" style="width: 100%;">
            <label>The Issuer requires a Destination Tag for sending back the Token. We will set the Destination Tag to "13371337". If you happen to know 'your' Destination Tag with the issuer, please use the one you know!</label>
          </mat-card>

          <mat-card fxLayout="column" fxLayoutGap="1em" style="width: 100%; padding-top: 1.5em;">
            <mat-checkbox [(ngModel)]="checkboxSendToIssuer" [ngClass]="(checkboxSendToIssuer ? 'xumm-green': 'xumm-red')">Sending the token back to the issuer means to lose ALL ACCESS to this token. It won't be converted to XRP AND you won't be able to get the token back. Please confirm to send back {{selectedToken && selectedToken.balanceShow}} {{selectedToken && selectedToken.currencyShow}} to the issuer!</mat-checkbox>
  
            <button mat-raised-button style="width: 100%;" class="btn" color="primary" [disabled]="!checkboxSendToIssuer" (click)="sendToIssuer()">Send to Issuer</button>
          </mat-card>
        </div>

        <div *ngIf="selectedToken && selectedToken.balance === 0 && !loadingData" style="width: 100%" fxLayout="column" fxLayoutAlign="center center">
          <mat-card class="mat-card-green floatcenter" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%">
            <i class="material-icons xumm-green" style="font-size: 3em;">
                check_circle_outline
            </i>
            <div fxLayout="column" fxLayoutGap="0.3em" class="floatcenter" fxLayoutGap="0.5em" fxLayoutAlign="center center">
              <label>Your Token balance is now 0.</label>
              <label>We can now remove the trustline!</label>
            </div>
          </mat-card>
        </div>

        <div *ngIf="loadingData" fxLayout="column" fxLayoutAlign="center center" style="width: 100%">
          <mat-card class="mat-card-orange floatcenter" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%">
            <label>Loading...</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </mat-card>
        </div>

        <div fxLayoutGap="0.5em" style="width: 100%;" fxLayout="column" fxLayoutGap="0.5em">
          <div *ngIf="selectedToken && selectedToken.balance == 0">
            <button mat-raised-button style="width: 100%;" color="primary" (click)="moveNext()" [disabled]="(selectedToken && selectedToken.balance != 0 ) || loadingData">Next</button>
          </div>  
          <div *ngIf="!burnOnly">
            <button mat-raised-button style="width: 100%;" class="xumm-grey-background" (click)="moveBack()" [disabled]="loadingData">Back</button>
          </div>
        </div>
      </mat-card>

      <mat-card *ngIf="(issuerHasGlobalFreezeSet || (selectedToken && selectedToken.isFrozen)) && selectedToken && selectedToken.balance != 0" class="stepcontainer" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start center" style="margin-left: 0.5em; margin-right: 0.5em;">
        
        <mat-card class="mat-card-blue" fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
          <label><b>You have {{selectedToken && selectedToken.balanceShow}} {{selectedToken && selectedToken.currencyShow}} left!</b></label>
        </mat-card>

        <mat-card *ngIf="convertAmountXRP" class="mat-card-green" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
          <div class="floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
            <label>Your {{selectedToken && selectedToken.currencyShow}} is currently worth around {{convertAmountXRP}} XRP.</label>
          </div>
        </mat-card>

        <mat-card *ngIf="!loadingData" class="mat-card-orange" fxLayout="column" fxLayoutAlign="center center" style="width: 100%;" fxLayoutGap="0.5em">
          <div class="floatcenter" fxLayout="column" fxLayoutGap="0.5em">
            <label *ngIf="issuerHasGlobalFreezeSet"><b>The Issuer has a 'Global Freeze' enabled for ALL of his tokens.</b></label>
            <label *ngIf="!issuerHasGlobalFreezeSet && selectedToken && selectedToken.isFrozen"><b>The Issuer has FROZEN this trustline.</b></label>
            <label><b>(That means that you can NOT sell the token or send it to another account. BUT you can send it back to the issuer. Please continue if you wish to do so.)</b></label>
            <label>&nbsp;</label>
            <label><b>(YOU MIGHT WANT TO CONTACT THE ISSUER WHY THE TRUSTLINE IS FROZEN BEFORE YOU PROCEED!)</b></label>
            <label>&nbsp;</label>
            <label>Sending the tokens to the Issuer will <b>BURN ALL</b> your token and does NOT swap them for XRP.</label>
            <label>Please confirm the checkbox and click the button below if you wish to BURN your token instead of SWAPPING them.</label>
          </div>

          <mat-card class="mat-card-red" fxLayout="column" fxLayoutGap="0.3em">
            <div>
              <mat-checkbox [(ngModel)]="checkBoxBurnToken" [ngClass]="(checkBoxBurnToken ? 'xumm-green': 'xumm-red')" [disabled]="loadingData"><b>I understand that burning the tokens will NOT give me any XRP in exchange and that I will LOSE my tokens worth around {{convertAmountXRP}} XRP! I still want to proceed!</b></mat-checkbox>
            </div>
            <button mat-raised-button class="btn" style="width:100%" color="primary" [disabled]="!checkBoxBurnToken" (click)="skipSwap()">BURN THEM ALL!</button>
          </mat-card>
        </mat-card>

        <div *ngIf="loadingData" fxLayout="column" fxLayoutAlign="center center" style="width: 100%">
          <mat-card class="mat-card-orange floatcenter" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%">
            <label>Loading...</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </mat-card>
        </div>

        <div fxLayoutGap="0.5em" style="width: 100%;" fxLayout="column" fxLayoutGap="0.5em">
          <div *ngIf="selectedToken && selectedToken.balance == 0">
            <button mat-raised-button style="width: 100%;" color="primary" (click)="moveNext()" [disabled]="(selectedToken && selectedToken.balance != 0 ) || loadingData">Next</button>
          </div>
          <div *ngIf="!burnOnly">
            <button mat-raised-button style="width: 100%;" class="xumm-grey-background" (click)="moveBack()" [disabled]="loadingData">Back</button>
          </div>
        </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start center" style="margin-left: 0.5em;margin-right: 0.5em;">
        <div *ngIf="!tokenHasBeenRemoved() && !loadingData" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start center" style="width: 100%;">
          <mat-card class="mat-card-orange floatcenter">
            <label>The final step is to remove the trustline. So lets go ahead!</label>
          </mat-card>
          <button mat-raised-button style="width: 100%;" color="primary" (click)="removeTrustLine()">Remove Trustline</button>
          <button mat-raised-button style="width: 100%;" class="xumm-grey-background" (click)="moveBack()">Back</button>
        </div>

        <div *ngIf="tokenHasBeenRemoved() && !loadingData" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start center" style="width: 100%;">
          <mat-card class="mat-card-green floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
            <div class="floatcenter" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
              <i class="material-icons xumm-green" style="font-size: 3em;">
                check_circle_outline
              </i>
              <label>The token {{selectedToken && selectedToken.currencyShow}} has been removed.</label>
            </div>

            <div *ngIf="gainedFromRemoving" class="floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
              <label>Your account gained {{gainedFromRemoving}} XRP from removing the Trustline</label>
              <label *ngIf="gainedFromConverting && gainedFromConverting > 0">You also gained {{gainedFromConverting}} XRP from converting the token into XRP</label>
            </div>
          </mat-card>

          <div *ngIf="existingOffersForToken && existingOffersForToken.length > 0 && removedOffersForToken" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start center" style="width: 100%;">
            <div *ngIf="existingOffersForToken.length > removedOffersForToken.length" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="start center" style="width: 100%;">
              <mat-card class="mat-card-orange floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
                <label>We found that you still have {{existingOffersForToken && (existingOffersForToken.length - removedOffersForToken.length)}} open Offers on the XRPL Dex for the token you just removed.</label>
                <label>Do you want to remove ALL {{existingOffersForToken && (existingOffersForToken.length - removedOffersForToken.length)}} Offers to free up even more XRP?</label>
              </mat-card>
              <button mat-raised-button style="width: 100%;" color="primary" (click)="removeAllOffers()">Remove All Offers</button>
            </div>
  
            <div *ngIf="removedOffersForToken && removedOffersForToken.length > 0">
              <mat-card class="mat-card-green floatcenter" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
                <label>Your account just gained another {{ gainedFromOffers }} XRP from removing Offers</label>
              </mat-card>
            </div>
          </div>

          <div *ngIf="(gainedTotal && gainedTotal >= 2 ) || showDonation()" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="start center" style="width: 100%; margin-top: 1em">
            <mat-card class="mat-card-green floatcenter" style="width: 100%;" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center">
              <label *ngIf="gainedTotal && gainedTotal >= 2"><b>YOU GAINED A TOTAL OF {{gainedTotal}} XRP!</b></label>
              <mat-card class="mat-card-orange floatcenter" *ngIf="paymentSuccessful && paymentAmount > 0" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
                <label>By paying only {{paymentAmount}} XRP for using this service!</label>
              </mat-card>
              <div *ngIf="!paymentSuccessful && paymentAmount <= 0 && gainedTotal > 2" fxLayout="column" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%;">
                <label>Please consider making a small donation. Thank you!</label>
                <button mat-raised-button color="primary" style="width: 100%;" (click)="makeDonation()">Make A Donation</button>
              </div>   
            </mat-card>
          </div>

          <div style="padding-top: 0.5em; width: 100%" fxLayout="column" fxLayoutGap="1em">
            <div *ngIf="!burnOnly">
              <button mat-raised-button style="width: 100%;" color="primary" (click)="trashAnotherOne()">Remove Another Token!</button>
            </div>
          </div>
        </div>

        <div *ngIf="loadingData" fxLayout="column" fxLayoutAlign="center center" style="width: 100%">
          <mat-card class="mat-card-orange" fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="center center" style="width: 100%">
            <label>Loading...</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </mat-card>
        </div>
      </mat-card>
    </mat-step>
  </mat-stepper>
</div>