<div [class]="themeClass">
  <mat-toolbar fxLayout="row" color="primary" style="background-color: #002c85;"class="mat-elevation-z4">  
    <mat-toolbar-row>
      <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center">
        <img src="../assets/topbar_logo.png" width="50px" height="50px" alt="XRP Ledger Services Logo">
        <label style="font-weight: bold;">{{title}}</label>  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="mat-card-red" *ngIf="errorLabel" fxLayout="column" fxLayoutGap="0.5em;">
    <label>Sorry that this error happened! Please copy the following error and send it to @XrplServices on twitter or via mail to: info@xrpl.services . Thanks for your help!</label>
    <label>&nbsp;</label>
    <label class="break-words" (click)="copyError()">{{errorLabel}}</label>
    <button mat-button class="xumm-grey-background" aria-label="Copy Error" (click)="copyError()">
      Copy&nbsp;<mat-icon style="font-size: 16px; width: fit-content; height: fit-content;">content_copy</mat-icon>
    </button>
  </mat-card>

  <mat-card class="mat-card-orange floatcenter" *ngIf="loadingData && !xrplAccountInfo" fxLayout="column" fxLayoutGap="0.5em;" style="margin: 0.5em">
    <label>Loading some things...</label>
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
  </mat-card>

  <mat-card class="mat-card-red" *ngIf="!loadingData && (!xrplAccountInfo || !xrplAccountInfo.Account)" fxLayout="column" fxLayoutGap="0.5em;">
    <label>You opened the xApp with an account you don't have full access to. (Read only)</label>
    <label>&nbsp;</label>
    <label>Please close this xApp, navigate to the home screen and switch to the account you want to issue your token from. (Needs to have 'Full Access') Then open the xApp again.</label>
  </mat-card>

  <!--label *ngIf="infoLabel" style="color: red">{{infoLabel}}</label><br><br>
  <label *ngIf="infoLabel2" style="color: red">{{infoLabel2}}</label>
  <label *ngIf="infoLabel3" style="color: red">{{infoLabel3}}</label-->

  <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper class="theme-background" *ngIf="xrplAccountInfo && xrplAccountInfo.Account">
    <mat-step completed="false" editable="false">
        <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <h2>Select a Token to remove:</h2>
            <div *ngIf="simpleTrustlines">

              <mat-form-field style="padding-top: 1em;">
                <mat-label class="loading">
                  <i class="material-icons">
                    search
                  </i>
                </mat-label>
                <input matInput [disabled]="loading" [(ngModel)]="searchString" (keyup)="applyFilter()" placeholder="Search for Token ...">
              </mat-form-field>

              <div>
                <div class="listarea" *ngIf="simpleTrustlines.length > 0">
                  <ul class="list" fxLayout="column" fxLayoutGap="1em">
                    <li *ngFor="let trustline of simpleTrustlines" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
                      <div style="font-size: medium;" fxLayoutAlign="center center">
                        <code>{{trustline.currencyShow}}: {{trustline.balanceShow}}</code>
                      </div>
                      <span style="flex: 1 1 auto;"></span>
                      <div fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" (click)="selectToken(trustline)">Trash</button>
                      </div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="simpleTrustlines.length <= 0">
                  <mat-card class="mat-card-orange">
                    <label>No Tokens found</label>
                  </mat-card>
                </div>
              </div>
            </div>
        </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">            

          <div *ngIf="!xrplAccountInfo || loadingData" fxLayoutAlign="start center">
            <label>Loading...</label>
            <mat-progress-spinner color="primary" mode="indeterminate" diameter=25></mat-progress-spinner>
          </div>

          <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button color="primary" (click)="moveNext()" [disabled]="loadingData">Next</button>
              <button mat-raised-button class="xumm-grey-background" (click)="moveBack()" [disabled]="loadingData">Back</button>
          </div>
      </mat-card>
    </mat-step>

    <mat-step completed="false" editable="false">
      <mat-card fxLayout="column" fxLayoutGap="0.5em">
          <div style="padding-top: 0.5em;" fxLayoutGap="0.5em">
              <button mat-raised-button class="xumm-grey-background" (click)="moveBack()">Back</button>
          </div>
      </mat-card>
    </mat-step>
  </mat-stepper>
</div>